/* -------------- */
/* DEFAULT VALUES */

$paragraph: #fa6803;
$color: #fceede;
$font-family: 'Eagle Lake', cursive;
$margin: 20px;
$padding: 20px;

.presentation{
  padding: $padding;
  margin: $margin;
  background-color: $paragraph;
  line-height: 40px;
  font-family: $font-family;
}

@mixin ring ($size, $color) {
  height: $size;
  width: $size;
  position: relative;
  display: inline-block;
  margin: 20px;
  top: 30px;
  border: $size/20 solid $color;
  border-radius: 50%;
  box-shadow: inset $size/30 $size/30 $size/10 2px darken($color, 30%), $size/30 $size/30 10px 2px darken($color, 30%);
}

/* -------------- */
/* HEADER */

nav  li{
  display: inline;
}

ul{
  @extend .presentation;
  list-style: none;
  a{
    text-decoration: none;
    color: $color;
    font-size: 20px;
    margin: $margin;
  }
}

/* -------------- */
/* MAIN */

main {
  margin: $margin;
  padding: $padding;
  background-color: $color;
  font-family: $font-family;
  height: 600px;
  font-size: 40px;
  display: block;
  text-align: center;
}

.ring_orange {
  @include ring(50px, orange);
}

.ring_yellow {
  @include ring(100px, yellow);
}

#loop {
  position: relative;
  transform: translateY(-80px);
}

@for $i from 1 through 6 {
  .ring_grey:nth-child(#{$i}) {
    @include ring(10px + $i * 20px, grey);
    left: 70px + $i * -70px;
    transform: translateY(50%);
  }
}

/* -------------- */
/* FOOTER */

footer {
  @extend .presentation;
  display: flex;
  justify-content: space-around;
}
